body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
}

#head {
  height: 25px;
  position: relative;
}

#head .material-icons {
  display: inline-block;
  color: gold;
  font-size: 20px;
  margin-left: 6px;
  height: 25px;
  vertical-align: middle;
}

#head h1 {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 0 0px;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: white;
  line-height: 25px;
}

#canvasContainer {
  display: flex;
  /* centers the canvas horizontally */
  justify-content: center;
  /* and vertically  */
  align-items: center;
}

footer {
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  text-align: center;
  /* background-color: black; */
}

#player .buttons ul {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

#player .buttons ul li {
  color: #666;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 60px;
  text-transform: uppercase;
}

#player .buttons ul .material-icons {
  font-size: 32px;
  line-height: 36px;
}

#player .buttons ul li:hover {
  color: gold;
}

#player .buttons ul li span {
  display: block;
  font-size: 9px;
  width: 100%;
  visibility: hidden;
}

#player .buttons ul li:hover span {
  color: gold;
  visibility: visible;
}

#player #playButton {
  font-size: 48px;
  margin-left: -5px;
}
