/*|| General Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #545454,
    #1f1f1f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #545454,
    #1f1f1f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Ubuntu", sans-serif;
}

/*|| Header Settings */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  line-height: 2;
  font-size: 1.6rem;
  cursor: default;

  text-shadow: 0.1em 0.1em 4px black;
  /* border: 1px dotted white; */
}

header .material-icons-round {
  color: gold;
  margin: 0 5px 0 10px;
}

h1 {
  font-size: inherit;
  text-transform: uppercase;
  color: white;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  list-style: none;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 3rem;
}

.social-media .fab {
  color: #adadad;
  font-size: 2.4rem;
  vertical-align: -12.5%;
  transition: 0.15s ease-in color,
              0.15s ease-in transform,
              0.15s ease-in text-shadow;
}
.social-media .fab:hover {
  transform: translate(-0.05em, -0.05em);
  color: gold;
  text-shadow: 0.2em 0.2em 4px black;
  transition: 0.15s ease-in color,
              0.15s ease-in transform,
              0.15s ease-in text-shadow;
}

/*|| Main Content Settings */

.canvasContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;

  /* border: 1px dotted white; */
}

.p5Canvas {
  grid-column: 2/3;
  grid-row: 1;
  padding: 0.5rem;
  background-color: #323232;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.4),
    20px 20px 20px 4px rgba(0, 0, 0, 0.2);

  /* border: 1px dotted gold; */
}

.p5Canvas:hover {
  /* box-shadow: 0px 0px 10px 2px rgba(255, 215, 0, 0.3); */
}

/*|| Footer Settings */
footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;

  /* border: 1px dotted white; */
}

/*|| Play Bar Settings */

footer .player {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 560px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  /* border: 1px dotted red; */
}

footer .player li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: #666;
  cursor: pointer;

  /* border: 1px dotted gold; */
}

footer .player li.enabled:hover {
  color: gold;
  transition: 0.2s ease-in color;
  /* filter:drop-shadow(0.1em, 0.1em, 0.1em, rgba(255, 215, 0, 0.3)); */
  /* box-shadow: 0.1rem, 0.1rem, 0.2rem rgba(255, 215, 0, 0.5); */
}

footer .player li.disabled {
  cursor: not-allowed;
}

footer .player button {
  border: none;
  border-radius: 50%;
  outline: none;
  padding: 0.5rem;
  margin-top: 5px;
  color: inherit;
  font-size: 3rem;
  cursor: inherit;
  background: linear-gradient(135deg, #323232, #1f1f1f);
  box-shadow:
    4px 4px 20px 2px rgba(0, 0, 0, 0.6),
    0px 0px 10px 0px rgba(75, 75, 75, 0.2);
  transition: 0.2s ease-out color, 0.2s ease-in box-shadow;
}

footer .player button:disabled {
  /* cursor: not-allowed; */
}

footer .player li.enabled:hover button {
  background: linear-gradient(-45deg, #323232, #1f1f1f);
  box-shadow: 
    0em 0em 0.2em 2px rgba(230, 185, 6, 0.5),
    -0.1px -0.1px 0.2em 2px rgba(0, 0, 0, 0.6);
  transition: 0.2s ease-out background, 0.2s ease-in box-shadow;
}

footer .player .labels {
  font-size: 1rem;
  /* visibility: hidden; */
  text-transform: uppercase;
  opacity: 0;
  transition: 0.2 ease-out opacity;
}

footer .player li:hover .labels {
  /* visibility: visible; */
  opacity: 1;
  transition: 0.2 ease-in opacity;
}

footer #playBtn {
  font-size: 60px;
}
